<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos and Ninjas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id=forms>
            <div id="dojo">
                <h1>Add a Dojo</h1>
                <form action="/add_dojo" method="POST">
                    {% csrf_token %}
                    <div class="form_group">
                        <label for="name">Name</label>
                        <input type="text" name="name">
                    </div>
                    <div class="form_group">
                        <label for="city">City</label>
                        <input type="text" name="city">
                    </div>
                    <div class="form_group">
                        <label for="state">State</label>
                        <input type="text" name="state">
                    </div>
                    <div class="form_group">
                        <label for="description">Description</label>
                        <textarea name="desc"></textarea>
                    </div>
                    <input type="submit" class="button" value="Add">
                </form>
            </div>
            <div id="ninja">
                <h1>Add a Ninja</h1>
                <form action="/add_ninja" method="POST">
                    {% csrf_token %}
                    <div class="form_group">
                        <label for="first name">First Name</label>
                        <input type="text" name="first_name">
                    </div>
                    <div class="form_group">
                        <label for="last name">Last Name</label>
                        <input type="text" name="last_name">
                    </div>
                    <div class="form_group">
                        <label for="dojo">Dojo</label>
                        <select name="dojo_id" id="dojo_name">
                            <option value="0">Select Dojo</option>
                            {% for dojo in dojos %}
                            <option value="{{dojo.id}}">{{dojo.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit" class="button" value="Add">
                </form>
            </div>
        </div>
        <p></p>
        <div id="list">
            <h1>All the Dojos</h1>
            {% for dojo in dojos %}
            <h3>Ninjas at the {{dojo.name}}</h3>
                <ul>
                    {% for ninja in dojo.ninjas.all %}
                    <li>{{ninja.first_name}} {{ninja.last_name}}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
</body>
</html>